@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

body {
    background-color: rgba(146, 221, 221, 0.774);
    font-family: "Roboto", helvetica, arial, sans-serif;
    margin-left: 1.8rem;
}

h2 {
    color: #2e2e2e;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

table {
    background: white;
    border-radius: 3px;     /* See the corners of a table if this is disabled to see what happens */
    border-collapse: collapse;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
 
th {
    color:#D5DDE5;;
    background:#1b1e24;
    border-bottom:4px solid #9ea7af;
    /* border-right: 1px solid #343a45; */
    font-size:19px;
    font-weight: 300;
    padding:20px;
    text-align:left;
}
  
tr {
    /* border-top: 3px solid rgba(193, 195, 209, 0.384); */
    /* border-bottom: 3px solid rgba(193, 195, 209, 0.384); */
    color:#666B85;
}
 
tr:hover td {
    background:#4E5066;
    color:#FFFFFF;
}
 
tr:nth-child(odd) {
    background:#EBEBEB;
}
 
tr:nth-child(odd):hover td {
    background:#4E5066;
}

td {
    padding:18px;
    font-weight:300;
}

/* LINKS */

a {
    display: inline-block;
    padding-right: 20px;
    padding-bottom: 9px;
}

/* INPUTS */

.read-only {
    background-color: lightgray;
}

table.deleted-entry tr {
    background-color: rgb(204, 34, 34);
    color:rgb(227, 228, 227);
}